CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_hiwifi_hc5962=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_NOXML=y
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_WEBSOCKET=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_NGINX_HEADERS_MORE=y
CONFIG_NGINX_HTTP_ACCESS=y
CONFIG_NGINX_HTTP_AUTH_BASIC=y
CONFIG_NGINX_HTTP_AUTOINDEX=y
CONFIG_NGINX_HTTP_BROWSER=y
CONFIG_NGINX_HTTP_CACHE=y
CONFIG_NGINX_HTTP_CHARSET=y
CONFIG_NGINX_HTTP_EMPTY_GIF=y
CONFIG_NGINX_HTTP_FASTCGI=y
CONFIG_NGINX_HTTP_GEO=y
CONFIG_NGINX_HTTP_GZIP=y
CONFIG_NGINX_HTTP_LIMIT_CONN=y
CONFIG_NGINX_HTTP_LIMIT_REQ=y
CONFIG_NGINX_HTTP_MAP=y
CONFIG_NGINX_HTTP_MEMCACHED=y
CONFIG_NGINX_HTTP_PROXY=y
CONFIG_NGINX_HTTP_REFERER=y
CONFIG_NGINX_HTTP_REWRITE=y
CONFIG_NGINX_HTTP_SCGI=y
CONFIG_NGINX_HTTP_SPLIT_CLIENTS=y
CONFIG_NGINX_HTTP_SSI=y
CONFIG_NGINX_HTTP_UPSTREAM_HASH=y
CONFIG_NGINX_HTTP_UPSTREAM_IP_HASH=y
CONFIG_NGINX_HTTP_UPSTREAM_KEEPALIVE=y
CONFIG_NGINX_HTTP_UPSTREAM_LEAST_CONN=y
CONFIG_NGINX_HTTP_USERID=y
CONFIG_NGINX_HTTP_UWSGI=y
CONFIG_NGINX_NAXSI=y
CONFIG_NGINX_PCRE=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_SAMBA_MAX_DEBUG_LEVEL=-1
CONFIG_PACKAGE_UnblockNeteaseMusicGo=y
CONFIG_PACKAGE_aria2=m
CONFIG_PACKAGE_ariang=m
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_autosamba=y
CONFIG_PACKAGE_boost=y
CONFIG_PACKAGE_boost-chrono=m
CONFIG_PACKAGE_boost-date_time=y
CONFIG_PACKAGE_boost-program_options=y
CONFIG_PACKAGE_boost-random=m
CONFIG_PACKAGE_boost-system=y
CONFIG_PACKAGE_ca-bundle=m
CONFIG_PACKAGE_frpc=y
CONFIG_PACKAGE_hd-idle=m
CONFIG_PACKAGE_icu=m
CONFIG_PACKAGE_ip6tables=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_kcptun-client=y
CONFIG_PACKAGE_kmod-crypto-crc32c=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-iptunnel=y
CONFIG_PACKAGE_kmod-iptunnel4=y
CONFIG_PACKAGE_kmod-lib-crc16=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_kmod-scsi-core=y
CONFIG_PACKAGE_kmod-sit=y
CONFIG_PACKAGE_kmod-usb-printer=m
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_libatomic=m
CONFIG_PACKAGE_libbz2=m
CONFIG_PACKAGE_libcap=m
CONFIG_PACKAGE_libcurl=m
CONFIG_PACKAGE_libdb47=m
CONFIG_PACKAGE_libdouble-conversion=m
CONFIG_PACKAGE_libevent2=y
CONFIG_PACKAGE_libexif=m
CONFIG_PACKAGE_libexpat=m
CONFIG_PACKAGE_libffi=m
CONFIG_PACKAGE_libffmpeg-audio-dec=m
CONFIG_PACKAGE_libflac=m
CONFIG_PACKAGE_libfreetype=m
CONFIG_PACKAGE_libgdbm=m
CONFIG_PACKAGE_libid3tag=m
CONFIG_PACKAGE_libjpeg=m
CONFIG_PACKAGE_libncurses=m
CONFIG_PACKAGE_libogg=m
CONFIG_PACKAGE_libpcre2-16=m
CONFIG_PACKAGE_libpng=m
CONFIG_PACKAGE_libsqlite3=m
CONFIG_PACKAGE_libuv=m
CONFIG_PACKAGE_libvorbis=m
CONFIG_PACKAGE_libwebsockets-full=m
CONFIG_PACKAGE_libxml2=m
CONFIG_PACKAGE_libzstd=m
CONFIG_PACKAGE_luci-app-aria2=m
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-guest-wifi=m
CONFIG_PACKAGE_luci-app-hd-idle=m
CONFIG_PACKAGE_luci-app-kodexplorer=m
CONFIG_PACKAGE_luci-app-minidlna=m
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mwan3helper=m
CONFIG_PACKAGE_luci-app-qbittorrent=m
CONFIG_PACKAGE_luci-app-samba=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Redsocks2=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Simple_obfs=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray_plugin=y
CONFIG_PACKAGE_luci-app-syncdial=y
CONFIG_PACKAGE_luci-app-transmission=m
CONFIG_PACKAGE_luci-app-ttyd=m
CONFIG_PACKAGE_luci-app-usb-printer=m
CONFIG_PACKAGE_luci-i18n-aria2-zh-cn=m
CONFIG_PACKAGE_luci-i18n-guest-wifi-zh-cn=m
CONFIG_PACKAGE_luci-i18n-hd-idle-zh-cn=m
CONFIG_PACKAGE_luci-i18n-kodexplorer-zh-cn=m
CONFIG_PACKAGE_luci-i18n-minidlna-zh-cn=m
CONFIG_PACKAGE_luci-i18n-mwan3-zh-cn=y
CONFIG_PACKAGE_luci-i18n-mwan3helper-zh-cn=m
CONFIG_PACKAGE_luci-i18n-qbittorrent-zh-cn=m
CONFIG_PACKAGE_luci-i18n-samba-zh-cn=y
CONFIG_PACKAGE_luci-i18n-transmission-zh-cn=m
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=m
CONFIG_PACKAGE_luci-i18n-usb-printer-zh-cn=m
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-theme-argon=m
CONFIG_PACKAGE_luci-theme-material=m
CONFIG_PACKAGE_luci-theme-netgear=m
CONFIG_PACKAGE_minidlna=m
CONFIG_PACKAGE_mwan3=y
CONFIG_PACKAGE_nginx=m
CONFIG_PACKAGE_ntfs-3g=y
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcp6c_ext_cer_id=0
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_odhcpd_ipv6only_ext_cer_id=0
CONFIG_PACKAGE_p910nd=m
CONFIG_PACKAGE_php7=m
CONFIG_PACKAGE_php7-fpm=m
CONFIG_PACKAGE_php7-mod-curl=m
CONFIG_PACKAGE_php7-mod-gd=m
CONFIG_PACKAGE_php7-mod-iconv=m
CONFIG_PACKAGE_php7-mod-json=m
CONFIG_PACKAGE_php7-mod-mbstring=m
CONFIG_PACKAGE_php7-mod-opcache=m
CONFIG_PACKAGE_php7-mod-session=m
CONFIG_PACKAGE_php7-mod-zip=m
CONFIG_PACKAGE_python=m
CONFIG_PACKAGE_python-base=m
CONFIG_PACKAGE_python-codecs=m
CONFIG_PACKAGE_python-compiler=m
CONFIG_PACKAGE_python-ctypes=m
CONFIG_PACKAGE_python-db=m
CONFIG_PACKAGE_python-decimal=m
CONFIG_PACKAGE_python-distutils=m
CONFIG_PACKAGE_python-email=m
CONFIG_PACKAGE_python-gdbm=m
CONFIG_PACKAGE_python-light=m
CONFIG_PACKAGE_python-logging=m
CONFIG_PACKAGE_python-multiprocessing=m
CONFIG_PACKAGE_python-ncurses=m
CONFIG_PACKAGE_python-openssl=m
CONFIG_PACKAGE_python-pydoc=m
CONFIG_PACKAGE_python-sqlite3=m
CONFIG_PACKAGE_python-unittest=m
CONFIG_PACKAGE_python-xml=m
CONFIG_PACKAGE_qBittorrent=m
CONFIG_PACKAGE_qt5-core=m
CONFIG_PACKAGE_qt5-network=m
CONFIG_PACKAGE_qt5-xml=m
CONFIG_PACKAGE_rblibtorrent=m
CONFIG_PACKAGE_redsocks2=y
CONFIG_PACKAGE_samba36-server=y
CONFIG_PACKAGE_shadowsocks-libev-ss-redir=y
CONFIG_PACKAGE_shadowsocksr-libev-server=y
CONFIG_PACKAGE_simple-obfs=y
CONFIG_PACKAGE_terminfo=m
CONFIG_PACKAGE_transmission-daemon-openssl=m
CONFIG_PACKAGE_transmission-web-control=m
CONFIG_PACKAGE_trojan=y
CONFIG_PACKAGE_ttyd=m
CONFIG_PACKAGE_v2ray=y
CONFIG_PACKAGE_v2ray-plugin=y
CONFIG_PACKAGE_wsdd2=y
CONFIG_PACKAGE_zoneinfo-asia=m
CONFIG_PHP7_LIBFREETYPE=y
CONFIG_SQLITE_FTS3=y
CONFIG_SQLITE_RTREE=y
CONFIG_UnblockNeteaseMusic_Go=y
CONFIG_V2RAY_COMPRESS_UPX=y
CONFIG_V2RAY_DISABLE_NONE=y
CONFIG_V2RAY_EXCLUDE_ASSETS=y
CONFIG_V2RAY_EXCLUDE_V2CTL=y
CONFIG_V2RAY_JSON_INTERNAL=y
CONFIG_boost-compile-visibility-hidden=y
CONFIG_boost-runtime-shared=y
CONFIG_boost-static-and-shared-libs=y
CONFIG_boost-variant-release=y
