CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_netgear_r6220=y
# CONFIG_BUSYBOX_DEFAULT_FEATURE_IPV6 is not set
# CONFIG_IPV6 is not set
# CONFIG_KERNEL_IPV6 is not set
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_MBEDTLS=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_PROXY=y
CONFIG_MT7603E_APCLI_SUPPORT=y
CONFIG_MT7603E_ATE_SUPPORT=y
CONFIG_MT7603E_DOT11N_DRAFT3=y
CONFIG_MT7603E_DOT11W_PMF_SUPPORT=y
CONFIG_MT7603E_FIRST_IF_EEPROM_FLASH=y
CONFIG_MT7603E_FIRST_IF_MT7603E=y
CONFIG_MT7603E_LLTD_SUPPORT=y
CONFIG_MT7603E_MAC_REPEATER_SUPPORT=y
CONFIG_MT7603E_MBSS_SUPPORT=y
CONFIG_MT7603E_MT_MAC=y
CONFIG_MT7603E_MT_NEW_RATE_ADAPT_SUPPORT=y
CONFIG_MT7603E_MT_WIFI_MODE_AP=y
CONFIG_MT7603E_MT_WIFI_PATH="rlt_wifi"
CONFIG_MT7603E_MULTI_APCLI_SUPPORT=y
CONFIG_MT7603E_MULTI_INF_SUPPORT=y
CONFIG_MT7603E_NEW_BW2040_COEXIST_SUPPORT=y
CONFIG_MT7603E_NEW_RATE_ADAPT_SUPPORT=y
CONFIG_MT7603E_RALINK_MT7603E=y
CONFIG_MT7603E_RLT_AP_SUPPORT=y
CONFIG_MT7603E_RLT_WIFI=y
CONFIG_MT7603E_RT2860V2_AP_V24_DATA_STRUCTURE=y
CONFIG_MT7603E_RTMP_FLASH_SUPPORT=y
CONFIG_MT7603E_RTMP_PCI_SUPPORT=y
CONFIG_MT7603E_RT_FIRST_CARD_EEPROM="flash"
CONFIG_MT7603E_UAPSD=y
CONFIG_MT7603E_WSC_INCLUDED=y
CONFIG_MTK_CHIP_MT7603E_MT7612E=y
# CONFIG_PACKAGE_adbyby is not set
CONFIG_PACKAGE_arp-scan=y
CONFIG_PACKAGE_arp-scan-database=y
CONFIG_PACKAGE_boost=y
CONFIG_PACKAGE_boost-date_time=y
CONFIG_PACKAGE_boost-program_options=y
CONFIG_PACKAGE_boost-system=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_chinadns-ng=y
CONFIG_PACKAGE_coreutils-nohup=y
CONFIG_PACKAGE_curl=y
# CONFIG_PACKAGE_etherwake is not set
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_ipt2socks=y
CONFIG_PACKAGE_kmod-fs-squashfs=y
CONFIG_PACKAGE_kmod-ipt-offload=y
CONFIG_PACKAGE_kmod-mt7603e=y
# CONFIG_PACKAGE_kmod-mt76x2 is not set
CONFIG_PACKAGE_kmod-nf-flow=y
# CONFIG_PACKAGE_kmod-nf-ipt6 is not set
CONFIG_PACKAGE_kmod-nls-cp936=y
CONFIG_PACKAGE_kmod-udptunnel4=y
CONFIG_PACKAGE_kmod-usb-ehci=y
# CONFIG_PACKAGE_kmod-usb-ledtrig-usbport is not set
CONFIG_PACKAGE_kmod-usb2=y
# CONFIG_PACKAGE_kmod-usb3 is not set
CONFIG_PACKAGE_kmod-wireguard=y
CONFIG_PACKAGE_libcurl=y
# CONFIG_PACKAGE_libip6tc is not set
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libstdcpp=y
# CONFIG_PACKAGE_luci-app-accesscontrol is not set
# CONFIG_PACKAGE_luci-app-adbyby-plus is not set
# CONFIG_PACKAGE_luci-app-autoreboot is not set
# CONFIG_PACKAGE_luci-app-ddns is not set
CONFIG_PACKAGE_luci-app-flowoffload=y
CONFIG_PACKAGE_luci-app-passwall=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Server is not set
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_dns2socks is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_haproxy is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ipt2socks is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_fuse-utils is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui is not set
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray_plugin=y
# CONFIG_PACKAGE_luci-app-unblockmusic is not set
# CONFIG_PACKAGE_luci-app-vlmcsd is not set
# CONFIG_PACKAGE_luci-app-vsftpd is not set
# CONFIG_PACKAGE_luci-app-webadmin is not set
# CONFIG_PACKAGE_luci-app-wol is not set
CONFIG_PACKAGE_luci-i18n-flowoffload-zh-cn=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-theme-netgear=y
CONFIG_PACKAGE_mt_wifi=y
CONFIG_PACKAGE_tcping=y
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_trojan=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_v2ray=y
CONFIG_PACKAGE_v2ray-plugin=y
CONFIG_PACKAGE_vim=y
# CONFIG_PACKAGE_vlmcsd is not set
# CONFIG_PACKAGE_vsftpd-alt is not set
CONFIG_PACKAGE_wireguard-tools=y
# CONFIG_PACKAGE_wol is not set
# CONFIG_PACKAGE_wpad-openssl is not set
CONFIG_TARGET_EXT4_BLOCKSIZE=4096
CONFIG_TARGET_EXT4_BLOCKSIZE_4K=y
CONFIG_TARGET_EXT4_RESERVED_PCT=0
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_GZIP=y
# CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA is not set
CONFIG_TARGET_ROOTFS_CPIOGZ=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_ROOTFS_PARTSIZE=160
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_V2RAY_COMPRESS_GOPROXY=y
CONFIG_V2RAY_COMPRESS_UPX=y
CONFIG_V2RAY_DISABLE_NONE=y
CONFIG_V2RAY_EXCLUDE_ASSETS=y
CONFIG_V2RAY_EXCLUDE_V2CTL=y
CONFIG_V2RAY_JSON_INTERNAL=y
CONFIG_boost-compile-visibility-hidden=y
CONFIG_boost-runtime-shared=y
CONFIG_boost-static-and-shared-libs=y
CONFIG_boost-variant-release=y
