CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y

CONFIG_EFI_IMAGES=n
CONFIG_VMDK_IMAGES=n
CONFIG_TARGET_IMAGES_PAD=n

CONFIG_USES_EXT4=y
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_KERNEL_PARTSIZE=16
CONFIG_TARGET_ROOTFS_PARTSIZE=300
#CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_PACKAGE_dnsmasq_full=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_KERNEL_BUILD_USER="GoDaddy"
CONFIG_GRUB_TITLE="OpenWrt AutoBuild"
CONFIG_PACKAGE_wget-ssl=y
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y

#passwall 注意如果名称有-号在feeds时会报feeds.conf.default语法错误
CONFIG_FEED_passwall_luci=y
CONFIG_FEED_passwall_packages=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Brook=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ChinaDNS_NG=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Hysteria=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_NaiveProxy=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_PDNSD=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Server=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Server=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_GO=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray_Plugin=y

CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_luci-theme-openwrt=y
CONFIG_PACKAGE_luci-theme-openwrt-2020=y
#---------------------------------------------

#lede自己包里加的一些目前用不到的，取消安装
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-wireguard=n

CONFIG_PACKAGE_luci-app-mwan3=n
CONFIG_PACKAGE_luci-app-mwan3helper=n
CONFIG_PACKAGE_luci-i18n-mwan3-zh-cn=n
CONFIG_PACKAGE_luci-i18n-mwan3helper-zh-cn=n
CONFIG_PACKAGE_luci-app-syncdial=n
CONFIG_PACKAGE_luci-app-ttyd=n
CONFIG_PACKAGE_luci-i18n-ttyd-zh-cn=n
CONFIG_PACKAGE_luci-app-webadmin=n
CONFIG_PACKAGE_luci-i18n-webadmin-zh-cn=n
CONFIG_PACKAGE_dnsmasq_full_auth=n
CONFIG_PACKAGE_dnsmasq_full_conntrack=n
CONFIG_PACKAGE_dnsmasq_full_dnssec=n
CONFIG_PACKAGE_ddns-scripts_aliyun=n
CONFIG_PACKAGE_ddns-scripts_dnspod=n
CONFIG_PACKAGE_ddns-scripts_cloudflare.com-v4=n
CONFIG_PACKAGE_ddns-scripts_freedns_42_pl=n
CONFIG_PACKAGE_ddns-scripts_godaddy.com-v1=n
CONFIG_PACKAGE_ddns-scripts_no-ip_com=n
CONFIG_PACKAGE_ddns-scripts_nsupdate=n
CONFIG_PACKAGE_ddns-scripts_route53-v1=n

CONFIG_PACKAGE_autocore-x86=n
CONFIG_PACKAGE_automount=n
CONFIG_PACKAGE_autosamba=n
CONFIG_PACKAGE_ca-bundle=n
CONFIG_PACKAGE_ca-certificates=n
CONFIG_PACKAGE_cfdisk=n
CONFIG_PACKAGE_curl=n
CONFIG_PACKAGE_htop=n
CONFIG_PACKAGE_iperf3=n
CONFIG_PACKAGE_kmod-sound-hda-codec-hdmi=n
CONFIG_PACKAGE_kmod-sound-hda-codec-realtek=n
CONFIG_PACKAGE_kmod-sound-hda-codec-via=n
CONFIG_PACKAGE_kmod-sound-hda-core=n
CONFIG_PACKAGE_kmod-sound-hda-intel=n
CONFIG_PACKAGE_kmod-sound-i8x0=n
CONFIG_PACKAGE_kmod-sound-via82xx=n
CONFIG_PACKAGE_kmod-tg3=n
CONFIG_PACKAGE_kmod-tulip=n
CONFIG_PACKAGE_kmod-usb-audio=n
CONFIG_PACKAGE_kmod-usb-hid=n
CONFIG_PACKAGE_kmod-usb-net=n
CONFIG_PACKAGE_kmod-usb-net-aqc111=n
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=n
CONFIG_PACKAGE_kmod-usb-net-rtl8150=n
CONFIG_PACKAGE_kmod-usb-net-rtl8152-vendor=n
CONFIG_PACKAGE_kmod-via-velocity=n
CONFIG_PACKAGE_kmod-vmxnet3=n
CONFIG_PACKAGE_lm-sensors=n
CONFIG_PACKAGE_luci-app-accesscontrol=n
CONFIG_PACKAGE_luci-app-adbyby-plus=n
CONFIG_PACKAGE_luci-app-arpbind=n
CONFIG_PACKAGE_luci-app-autoreboot=n
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-diskman=n
CONFIG_PACKAGE_luci-app-filetransfer=n
CONFIG_PACKAGE_luci-app-ipsec-vpnd=n
CONFIG_PACKAGE_luci-app-nlbwmon=n
CONFIG_PACKAGE_luci-app-ssr-plus=n
CONFIG_PACKAGE_luci-app-ttyd=n
CONFIG_PACKAGE_luci-app-turboacc=n
CONFIG_PACKAGE_luci-app-unblockmusic=n
CONFIG_PACKAGE_luci-app-vlmcsd=n
CONFIG_PACKAGE_luci-app-vsftpd=n
CONFIG_PACKAGE_luci-app-wol=n
CONFIG_PACKAGE_luci-app-xlnetacc=n
CONFIG_PACKAGE_luci-app-zerotier=n
CONFIG_PACKAGE_luci-proto-bonding=n
CONFIG_PACKAGE_pciutils=n
CONFIG_PACKAGE_usbutils=n
